<header class="main-header-container">
    <div class="main-header container">
        {% comment %} Estou criando o container em header, que vai ocupar a página toda e 
        criando uma div-container que irá ocupar uma parte da div header.
        {% endcomment %}
        <h1>
            <a class="main-logo" href="{% url 'recipes-home' %}">
                {% comment %} a tag <a> vai levar a pessoa a home quando clicar
                {% endcomment %}
                <i class="fas fa-utensils main-logo-icon"></i> 
                <span class="main-logo-text">Recipes</span>
            </a>
        </h1>
    </div>
</header>