{% extends 'global/base.html' %}

{% block title %}Dashboard ({{ user }}) | {% endblock title %}

{% block content %}
<div class="main-content center container">
    <h2>Dashboard ({{ user }}) </h2>
    {% include 'authors/partials/login_message.html' %}

    <div class="authors-dashboard-container">
        <h3>Your recipes</h3>
        <table class="table-your-recipes">
            <thead class="header-table">
                <th>Title</th>
                <th>Create</th>
                <th>Update</th>
                <th>Category</th>
            </thead>
            <tbody class="body-table">
            {% for recipe in recipes %}
                        <tr class="line-table">
                        <td><a href="{% url 'authors:dashboard_recipe_edit' recipe.id %}">{{ recipe.title }}</a></td>
                        <td>{{ recipe.created_at }}</td>
                        <td>{{ recipe.update_at }}</td>
                        <td>{{ recipe.category }}</td>
                        </tr>
                {% empty %}
                <div class="center">
                    <h3>You do not have recipes, please create one.</h3>
                </div>
            {% endfor %}
        </tbody>
    </table>

    </div>
</div>

{% include 'global/partials/messages.html' %}

{% endblock content %}