{% extends 'global/base.html' %}
{% block title %}{{ page_title }}{% endblock title %}
{% block content %}
    <div class="main-content center container">
        
        <div class="authors-dashboard-container">
            <table class="table-your-recipes">
                <thead class="header-table">
                    <th>Title</th>
                    <th>Create</th>
                    <th>Update</th>
                    <th>Category</th>
                </thead>
                <tbody class="body-table">
                {% for recipe in recipes %}
                            <tr class="line-table">
                            <td><a href="{% url 'authors:dashboard_recipe_edit' recipe.id %}">{{ recipe.title }}</a></td>
                            <td>{{ recipe.created_at }}</td>
                            <td>{{ recipe.update_at }}</td>
                            <td>{{ recipe.category }}</td>
                            </tr>
                    {% empty %}
                    <div class="center">
                        <h3>Não foram encontradas receitas com esse título ou descrição</h3>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    
        </div>
    </div>
{% endblock content %}