<div class="table">
<table class="table-recipes">
    <thead class="header-table">
        <th>Title</th>
        <th>Create</th>
        <th>Update</th>
        <th>Category</th>
        <th>Actions</th>
    </thead>
    <tbody class="body-table">
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.title }}</td>
                <td> {{ recipe.created_at }} </td>
                <td>{{ recipe.update_at }}</td>
                <td>{{ recipe.category }}</td>
                <form class="inline-form form-delete" action="{% url 'authors:dashboard_recipe_delete' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ recipe.id }}">
                    <td>
                        <button class="plaintext-button" type="submit">Excluir</button>
                        <button class="plaintext-button" type="submit"><a href="{% url 'authors:dashboard_recipe_edit' recipe.id %}">Update</a></button>
                    </td>
                    
                </form>
            </tr>
            {% empty %}
            <h3>Você não cadastrou nenhuma receita</h3>
        {% endfor %}
    </tbody>
</table>
</div>